extends layout

block content
  h1= title
  hr
  h2 requests info
  p
    b Number of requests:
    span#count #{count}
  p
    b Request from:
    span#key #{key}
  h2 token bucket info
  p
    b Available token:
    span#remaning #{remaining}


  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-128384028-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-128384028-1');
