extends layout

block content
  h1= title
  hr
  h2 requests info
  p
    b Number of requests:
    span#count #{count}
  p
    b Request from:
    span#key #{key}
  h2 token bucket info
  p
    b Available token:
    span#remaning #{remaining}
